name: Go
on:
  push:
    tags: ["v*"]
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ github.ref }}
        draft: false
        prerelease: false
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
  build:
    needs: release
    strategy:
      matrix:
        arch: [linux_amd64, linux_arm, windows_amd64, darwin_amd64]
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: build
      run: |
        go get -v -t -d ./...
        go generate ./...
        arch=${{matrix.arch}}
        export GOOS=${arch%%_*} GOARCH=${arch##*_} GOARM=5
        go build -o ghastly.$arch -v --ldflags="-s" .
        go build -o terraform-provider-homeassistant.$arch -v .
    - name: upload
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ needs.release.outputs.upload_url }}
        asset_path: ./ghastly.${{matrix.arch}}
        asset_name: ghastly.${{matrix.arch}}
        asset_content_type: application/octet-stream
